*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 44, 44);
}

/* For Text */
.fortext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5rem;
}

h2{
    color: white;
    text-align: center;
}

.smile-main{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.me-smile1{
    background-image: url(Unhappy-smile.png);
    background-size: cover;
}

.me-smile2{
    background-image: url(Neutral-smile.webp);
    background-size: cover;
}

.me-smile3{
    background-image: url(Satisfied-smile.png);
    background-size: cover;
}

/* Image */
.imgs{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 30px;
    margin: auto;
    border-radius: 5px;
    margin-top: 1rem;
}

.imgs img{
    width: 30%;
    height: auto;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 9999px;
}

/* For p */
.forp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    gap: 200px;
}

/* Button */
.forbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

button{
    font-size: 15px;
    padding: 15px 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}